// Deserialises to a LoadingConfig struct.
(
    textures: {
        NotFound: "not_found.png", 
        UiPanelTexture: "MyPanel2.png",
        Overseer: "overseer.png",
        OverseerEyesWhite: "overseer_eyes_white.png",
        OverseerIris: "overseer_eyes_black.png",
        Croissant: "3x2_croissant.png",
        Athelas: "2x2_turtle_herb.png",
        // HealthPotion: "??.png",
        Vial: "Vial.png",
        TurtleHerb: "2x2_turtle_herb.png",
        CandleStick: "1x2_candle_stick.png",
        EmptyLantern: "2x3_empty_lantern.png",
        FilledLantern: "2x3_filled_lantern.png",
        LitLantern: "2x3_lit_lantern.png",
        FireEssence: "1x1_fire_essence.png",
        MediumShield: "2x2_medium_shield.png",
        TileEight: "Grid_Tile_8x8.png",
        TileSixteen: "Grid_Tile_16x16.png",
        TileThirtyTwo: "Grid_Tile_32x32.png",
        HerbRed: "HerbRed.png",
        HerbGreen: "HerbGreen.png",
        HerbViolet: "HerbViolet.png",
        EssenceAlacrity: "EssenceAlacrity.png",
        EssenceMight: "EssenceMight.png",
        EssenceVitality: "EssenceVitality.png",
    },
    atlases: {
        NotFound: "not_found.ron",
        Cursor: "cursor.ron",
        RecordPlayer: "record_player.ron",
        Backpack: "backpack.ron",
  },
    sound_effects: {
        Placeholder:"placeholder.ogg",
    },
    music: {
        Jazz: "jazz/",
        Ominous: "ominous/",
    },
    fonts: {
        FiraSansBold: "FiraSans-Bold.ttf",
        Square: "square.ttf",
    }
)
