// Deserialises to a LoadingConfig struct.
(
    textures: {
        NotFound: "not_found.png",
        UiPanelTexture: "MyPanel2.png",
        Overseer: "overseer.png",
        OverseerEyesWhite: "overseer_eyes_white.png",
        OverseerIris: "overseer_eyes_black.png",
        Vial: "Vial.png",
        TileEight: "Grid_Tile_8x8.png",
        TileSixteen: "Grid_Tile_16x16.png",
        TileThirtyTwo: "Grid_Tile_32x32.png",
        HerbRed: "HerbRed.png",
        HerbGreen: "HerbGreen.png",
        HerbViolet: "HerbViolet.png",
        EssenceAlacrity: "EssenceAlacrity.png",
        EssenceMight: "EssenceMight.png",
        EssenceVitality: "EssenceVitality.png",
        FlaskHealing: "FlaskHealing.png",
        FlaskStrength: "FlaskStrength.png",
        FlaskSkill: "FlaskSkill.png",
        FlaskToughness: "FlaskToughness.png",
        SwordRusty: "SwordRusty.png",
        Sword: "Sword.png",
        SwordMasterwork: "SwordMasterwork.png",
        SwordSpeed: "SwordSpeed.png",
        SwordMasterworkSpeed: "SwordMasterworkSpeed.png",
        SwordWounding: "SwordWounding.png",
        SwordMasterworkWounding: "SwordMasterworkWounding.png",
        CombineButton: "Combine_Button.png",
    },
    atlases: {
        NotFound: "not_found.ron",
        Cursor: "cursor.ron",
        RecordPlayer: "record_player.ron",
        Backpack: "backpack.ron",
    },
    sound_effects: {
        BigMonsterGrowl:"big_monster_growl",
        DoorCreak:"door_creak",
        GoblinAhah:"goblin_ahah",
        LittleMonsterGrowl:"little_monster_growl",
        SlashHit:"slash_hit",
        SwordClang:"sword_clang",
        WaterDripping:"water_dripping",
        Alchemy:"Alchemy",
    },
    music: {
        Jazz: "jazz/",
        Ominous: "ominous/",
    },
    fonts: {
        FiraMonoMedium: "FiraMono-Medium.ttf",
        FiraSansBold: "FiraSans-Bold.ttf",
        Square: "square.ttf",
    }
)
