#![enable(implicit_some)]
( // DungeonBluerint
    levels: [ // Vec of FloorBlueprints
        ( // FloorBlueprint
            depth: 0,
            default_loot: ( // DropTable
                items: [ HerbGreen, HerbRed, HerbViolet, Vial ],
                chances: [ 20, 20, 20, 20 ]
            ),
            segments: [ // Room contents defined here
                ( 
                    types: { Start : 100, }
                ),
                (
                    types: { Empty: 100, },
                    custom_loot:(
                        items: [ ScrollBasic1, ScrollBasic6 ],
                        chances: [ 100, 100,]
                    )
                ),
                (
                    types: { Fight: 100, },
                    enemies: { Rat: 100, }
                ),
                (
                    types: { Empty: 100, },
                    custom_loot:(
                        items: [ ScrollBasic4, SwordRusty, ScrollBasic2 ],
                        chances: [ 100, 100, 100]
                    )
                ),
                (
                    types: { Fight: 100, },
                    enemies: { GoblinBrat: 100, }
                ),
                (
                    types: { Empty: 50, Fight: 50, },
                    enemies: { GoblinSwordsman: 50, Rat: 50 }
                ),
                (
                    types: { Empty: 75, Fight: 25, },
                    enemies: { GoblinBrat: 50, Rat: 50 }
                ),
                (
                    types: { Empty: 100, },
                    custom_loot:(
                        items: [ HerbRed, HerbRed, HerbGreen ],
                        chances: [ 100, 100, 100]
                    ),
                    custom_flavour: PlantRoom
                ),
                (
                    types: { Empty: 25, Fight: 75, },
                    enemies: { GoblinBrat: 50, Rat: 50 }
                ),
                (
                    types: { Fight: 100, },
                    enemies: { GoblinShieldbearer: 100, }
                ),
                (
                    types: {End: 100, },
                )
            ]
        ),
        ( // FloorBlueprint
            depth: 1,
            default_loot: ( // DropTable
                items: [ HerbGreen, HerbRed, HerbViolet, Vial ],
                chances: [ 20, 30, 10, 35 ]
            ),
            segments: [ // Room contents defined here
                (
                    types: { Start : 100, }
                ),
                (
                    types: { Empty: 100, },                    
                    custom_loot:(
                        items: [ SwordRusty, ArmorRusty, Shield ],
                        chances: [ 100, 100, 65]
                        ),
                    custom_flavour: Armory,
                ),
                (
                    types: { Fight: 100, },
                    enemies: { GoblinSwordsman: 100, }
                ),
                (
                    types: { Empty: 100, },
                    custom_loot:(
                        items: [ HerbRed, Vial, HerbViolet ],
                        chances: [ 100, 100, 65]
                    )
                ),
                (
                    types: { Fight: 100, },
                    enemies: { GoblinBrat: 100, }
                ),
                (
                    types: { Fight: 100, },
                    enemies: { GoblinShieldbearer: 50, GoblinBrat: 50 }
                ),
                (
                    types: { Empty: 75, Fight: 25, },
                    enemies: { GoblinBrat: 50, Rat: 50 }
                ),
                (
                    types: { Corridor: 100, },
                ),
                (
                    types: { Empty: 100, },
                    custom_loot:(
                        items: [ Vial, Vial, Vial ],
                        chances: [ 100, 100, 60]
                    ),
                    custom_flavour: AlchemyLab
                ),
                (
                    types: { Empty: 25, Fight: 75, },
                    enemies: { GoblinShieldbearer: 50, GoblinBrat: 50 }
                ),
                (
                    types: { Fight: 100, },
                    enemies: { Zombie: 25, GoblinSwordsman:50, GoblinShieldbearer: 25 }
                ),
                (
                    types: {End: 100, },
                )
            ]
        ),
        ( // FloorBlueprint
            depth: 2,
            default_loot: ( // DropTable
                items: [ HerbGreen, HerbRed, HerbViolet, Vial ],
                chances: [ 20, 30, 20, 40 ]
            ),
            segments: [ // Room contents defined here
                (
                    types: { Start : 100, }
                ),
                (
                    types: { Empty: 100, },
                    custom_flavour: UndeadEntrance,
                ),
                (
                    types: { Fight: 100, },
                    enemies: { Zombie: 100, }
                ),
                (
                    types: { Empty: 100, },
                    custom_loot:(
                        items: [ HerbRed, Vial, HerbViolet ],
                        chances: [ 100, 100, 65]
                    )
                ),
                (
                    types: { Fight: 70, Corridor:30 },
                    enemies: { GoblinBrat: 30, Zombie:50, GoblinShieldbearer: 20 }
                ),
                (
                    types: { Empty: 100, },
                    custom_loot:(
                        items: [ SwordRusty, ArmorRusty, Shield ],
                        chances: [ 100, 100, 65]
                    ),
                    custom_flavour: Armory,
                ),
                (
                    types: { Fight: 100, },
                    enemies: { GoblinShieldbearer: 50, GoblinSwordsman: 50 }
                ),
                (
                    types: { Empty: 100, },
                    custom_loot:(
                        items: [ FlaskSkill, Vial, HerbViolet ],
                        chances: [ 100, 100, 100]
                    ),
                    custom_flavour: AlchemyLab
                ),
                (
                    types: { Empty: 75, Fight: 25, },
                    enemies: { Zombie: 50, Skeleton: 50 }
                ),
                (
                    types: { Corridor: 100, },
                ),
                (
                    types: { Empty: 100, },
                    custom_loot:(
                        items: [ Vial, Vial, HerbGreen ],
                        chances: [ 100, 100, 60]
                    ),
                    custom_flavour: AlchemyLab
                ),
                (
                    types: { Empty: 25, Fight: 75, },
                    enemies: { Zombie: 50, Skeleton: 50 }
                ),
                (
                    types: { Fight: 100, },
                    enemies: { Zombie: 50, Skeleton: 50 }
                ),
                (
                    types: { Empty: 100, },
                    custom_loot:(
                        items: [ Vial, HerbRed, HerbViolet ],
                        chances: [ 100, 100, 60]
                    ),
                    custom_flavour: LairEntrance
                ),
                ( // Final boss
                    types: {Fight: 100, },
                    enemoes: { OgreNecromancer : 100 }
                )
            ]
        )
    ]
)