(
    enemies: [
        (
            enemy_id: Rat,
            name: "Rat",
            enter_combat_text: EnterRat,
            combat_stats: (
                health: 5,
                max_health: 5,
                proficiency: 0,
                damage_res: 0,
                damage_bonus: 0,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    HerbRed,
                    HerbViolet,
                    HerbGreen,
                ],
                chances: [
                    30,
                    10,
                    15
                ]
            ),
        ),
        (
            enemy_id: GoblinBrat,
            name: "Goblin Brat",
            enter_combat_text: EnterGoblinBrat,
            combat_stats: (
                health: 4,
                max_health: 4,
                proficiency: 2,
                damage_res: 0,
                damage_bonus: -3,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    Vial,
                    HerbRed,
                    HerbViolet,
                    HerbGreen,
                ],
                chances: [
                    80,
                    40,
                    30,
                    30,
                ]
            ),
        ),
        (
            enemy_id: GoblinSwordsman,
            name: "Goblin Swordsman",
            enter_combat_text: EnterGoblinSwordsman,
            combat_stats: (
                health: 6,
                max_health: 6,
                proficiency: 1,
                damage_res: 0,
                damage_bonus: 1,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    SwordRusty,
                    Vial,
                    HerbViolet,
                    HerbGreen,
                ],
                chances: [
                    66,
                    50,
                    20,
                    20,
                ]
            ),
        ),
        (
            enemy_id: GoblinShieldbearer,
            name: "Goblin Shieldbearer",
            enter_combat_text: EnterGoblinShieldBearer,
            combat_stats: (
                health: 8,
                max_health: 8,
                proficiency: 2,
                damage_res: 2,
                damage_bonus: -2,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    ShieldRusty,
                    Vial,
                    HerbRed,
                    HerbViolet,
                    HerbGreen,
                ],
                chances: [
                    66,
                    50,
                    30, 
                    30,
                    30,
                ]
            ),
        ),
        (
            enemy_id: Skeleton,
            name: "Skeleton",
            enter_combat_text: EnterSkeleton,
            combat_stats: (
                health: 12,
                max_health: 12,
                proficiency: 1,
                damage_res: 2,
                damage_bonus: 1,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    ShieldRusty,
                    Vial,
                    AxeRusty,
                    SwordRusty,
                    HerbGreen,
                ],
                chances: [
                    40,
                    65,
                    30,
                    30,
                    40,
                ]
            ),
        ),
        (
            enemy_id: Zombie,
            name: "Zombie",
            enter_combat_text: EnterZombie,
            combat_stats: (
                health: 12,
                max_health: 12,
                proficiency: -1,
                damage_res: 3,
                damage_bonus: -1,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    ArmorRusty,
                    Vial,
                    AxeRusty,
                    HerbRed,
                    HerbRed,
                ],
                chances: [
                    40,
                    50,
                    20,
                    60,
                    30,
                ]
            ),
        ),
        (
            enemy_id: OgreNecormancer,
            name: "Ogre Necromancer",
            enter_combat_text: EnterOgreNecromancer,
            combat_stats: (
                health: 30,
                max_health: 30,
                proficiency: 2,
                damage_res: 3,
                damage_bonus: 4,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    HerbRed,
                    HerbRed,
                ],
                chances: [
                    40,
                    50,
                ]
            ),
        ),
    ]
)
