(
    enemies: [
        (
            enemy_id: Rat,
            name: "Rat",
            enter_combat_text: EnterRat,
            combat_stats: (
                health: 5,
                max_health: 5,
                proficiency: 0,
                damage_res: 0,
                damage_bonus: 0,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    HerbRed,
                    HerbViolet,
                    HerbGreen,
                    ScrollAlchemy1,
                    ScrollAlchemy2,
                    ScrollAlchemy3,
                ],
                chances: [
                    30,
                    10,
                    15,
                    25,
                    25,
                    25,
                ]
            ),
        ),
        (
            enemy_id: GoblinBrat,
            name: "Goblin Brat",
            enter_combat_text: EnterGoblinBrat,
            combat_stats: (
                health: 4,
                max_health: 4,
                proficiency: 2,
                damage_res: 0,
                damage_bonus: -3,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    Vial,
                    HerbRed,
                    HerbViolet,
                    HerbGreen,
                    ScrollAlchemy4,
                    ScrollAlchemy5
                ],
                chances: [
                    80,
                    40,
                    30,
                    30,
                    25,
                    25,
                ]
            ),
        ),
        (
            enemy_id: GoblinSwordsman,
            name: "Goblin Swordsman",
            enter_combat_text: EnterGoblinSwordsman,
            combat_stats: (
                health: 8,
                max_health: 8,
                proficiency: 1,
                damage_res: 0,
                damage_bonus: 1,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    SwordRusty,
                    Vial,
                    HerbViolet,
                    HerbGreen,
                    ScrollAlchemy6,
                    ScrollAlchemy7,
                ],
                chances: [
                    66,
                    50,
                    20,
                    20,
                    25,
                    25,
                ]
            ),
        ),
        (
            enemy_id: GoblinShieldbearer,
            name: "Goblin Shieldbearer",
            enter_combat_text: EnterGoblinShieldBearer,
            combat_stats: (
                health: 9,
                max_health: 9,
                proficiency: 2,
                damage_res: 2,
                damage_bonus: -2,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    ShieldRusty,
                    Vial,
                    HerbRed,
                    HerbViolet,
                    HerbGreen,
                    ScrollAlchemy8,
                    ScrollAlchemy9,
                ],
                chances: [
                    66,
                    50,
                    30, 
                    30,
                    30,
                    25,
                    25,
                ]
            ),
        ),
        (
            enemy_id: OrcWarrior,
            name: "OrcWarrior",
            enter_combat_text: EnterOrcWarrior,
            combat_stats: (
                health: 16,
                max_health: 16,
                proficiency: 3,
                damage_res: 1,
                damage_bonus: 3,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    Axe,
                    AxeRusty,
                    ArmorRusty,
                    Vial,
                    HerbViolet,
                    ScrollAlchemy10,
                    ScrollAlchemy11,
                    ScrollAlchemy12,
                ],
                chances: [
                    15,
                    80,
                    30,
                    50,
                    35,
                    25,
                    25,
                    25,
                ]
            ),
        ),
        (
            enemy_id: Skeleton,
            name: "Skeleton",
            enter_combat_text: EnterSkeleton,
            combat_stats: (
                health: 16,
                max_health: 16,
                proficiency: 5,
                damage_res: 2,
                damage_bonus: 4,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    ShieldRusty,
                    Vial,
                    AxeRusty,
                    SwordRusty,
                    HerbGreen,
                    ScrollAlchemy13
                ],
                chances: [
                    40,
                    65,
                    30,
                    30,
                    40,
                    25,
                ]
            ),
        ),
        (
            enemy_id: Zombie,
            name: "Zombie",
            enter_combat_text: EnterZombie,
            combat_stats: (
                health: 24,
                max_health: 24,
                proficiency: 3,
                damage_res: 4,
                damage_bonus: 2,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    ArmorRusty,
                    Vial,
                    AxeRusty,
                    HerbRed,
                    HerbRed,
                    ScrollAlchemy14,
                    ScrollAlchemy15,
                ],
                chances: [
                    40,
                    50,
                    20,
                    60,
                    30,
                    25,
                    25,
                ]
            ),
        ),
        (
            enemy_id: OgreNecromancer,
            name: "Ogre Necromancer",
            enter_combat_text: EnterOgreNecromancer,
            combat_stats: (
                health: 55,
                max_health: 55,
                proficiency: 10,
                damage_res: 4,
                damage_bonus: 7,
                negative_feedback: 0,
            ),
            drop_table: (
                items: [
                    HerbRed,
                    HerbRed,
                ],
                chances: [
                    40,
                    50,
                ]
            ),
        ),
    ]
)
