(
    map:{
        RoomStart: [
            "Sir Hoardalot descends into the darkness of the dungeon...",
        ],
        RoomEnd: [
            "Sir Hoardalot reaches the last room. There's a downward staircase here...",
            "Sir Hoardalot reaches the last room. There's a rickety ladder leading down into the inky void.",
        ],
        Corridor: [
            "Sir Hoardalot enters a dark, silent corridor dug out in a rocky wall.",
            "This damp passage smells weird. Falling water droplets splash somewhere far ahead.",
            "Pieces of ancient sprung traps litter this corridor, along with some with equally ancient pieces of unfortunate souls.",
            "This passage is so dusty, Sir Hoardalot can barely see anything in the torchlight. Sir Hoardalot sneezes, and the echo parrots around the room.",
            "Thick cobwebs hang from the ceiling of the tunnel, flowing down onto the floor. Sir Hoardalot's footsteps are muffled by the soft, sticky fabric.",
        ],
        EnteredRoom: [
            "The room is dark and dusty. Broken furniture stands slumped against the walls.",
            "There's a round pool of muddy water in this room. Sir Hoardalot's torch is casting shimmering reflections onto the walls.",
            "This room seems to be actively used - torches on walls are lit, and benches lining the walls have various small items strewn around them.",
            "This room is dark and silent, but seems to have some kind of eerie presence within it. Sir Hoardalot shivers.",
        ],
        Door: [
            "A door. Sir Hoardalot carefully presses the handle and pushes the door open...",
            "A door. It creaks horribly when Sir Hoardalot pushes it open...",
            "A heavily damaged door. It disassembles itself as Sir Hoardalot pushes it open.",
        ],
        SearchingRoom: [
            "Sir Hoardalot pokes through the ancient furniture.",
            "Sir Hoardalot carefully inspects the floor for any items.",
            "Sir Hoardalot sifts through the items littering the floor.",
        ],
        SearchingBody: [
            "Sir Hoardalot searches the remains of the enemy.",
            "Sir Hoardalot searches the enemy for loot.",
        ],
        FoundLoot: [
            "Sir Hoardalot found something!",
            "Loot, loot, loot!",
        ],
        FoundNothing: [
            "Nothing! Oh well...",
            "And yet again, Sir Hoardalot finds nothing. The droprate is terrible, man.",
        ],
        CombatEnemyHit: [
            "Sir Hoardalot kicks the enemy off balance, and stick the tip of his weapon right between their ribs!",
            "Sir Hoardalot whacks the enemy right across the chest with his weapon!",
        ],
        CombatHeroHit: [
            "An unexpected blow pierces through Sir Hoardalot's defenses!",
            "A strong hit smashes the air out of Sir Hoardalot's lungs. He staggers backwards, wheezing.",
            "The monster feints high, then strikes low and jabs Sir Hoardalot's leg!",
        ],
        CombatEnemyDied: [
            "Sir Hoardalot ends the fight with a decisive strike! The enemy falls to the ground with a dull thud, dead before it could figure out what killed it.",
            "The hero cuts down the monster with more difficulty than expected, muttering something about 'devs nerfing his class'.",
            "Enraged by remarks about its personal hygiene, the monster charges forward and prompty loses its head.",
        ],
        CombatNoResolution: [
            "Sir Hoardalot circles the enemy, looking for openings. His labored breathing echoes through the dungeon.",
            "Sir Hoardalot dives under a mortal blow, and throws the enemy off balance with an elbow strike, buying himself some time and separation.",
            "Sir Hoardalot and the foe both jump away as a large rock peels away from the ceiling and crashes into a million pieces where he just stood!",
        ],
        CombatHeroDied: [
            "Sir Hoardalot is dead!",
        ],
        EnteredStartRoom: [
            "Sir Hoardalot descends into a new level of the dungeon.",
        ],
        // Enemy encounters
        EnterRat: [
            "A rabid rat, large as a dog, squeaks angrily and jumps towards Sir Hoardalot!",
            "A large rat drops unto the hero's back, biting and hissing.",
        ],
        EnterGoblinBrat: [
            "A Goblin Brat dances around Sir Hoardalot, throwing stones and insults!",
            "As Sir Hoardalot charges into the room, cowardly goblins scurry away through hidden tunnels. One isn't fast enough, finds himself facing the mighty hero.",
        ],
        EnterGoblinSwordsman: [
            "A Goblin Swordsman shakes a rusty blade at Sir Hoardalot!",
        ],
        EnterGoblinShieldBearer: [
            "A Goblin Shieldbearer stands in Sir Hoardalot's way - steady, unflinching and very, very stinky.",
        ],
        EnterSkeleton: [
            "The rattling of bones is heard down a dark corridor. A skeleton approaches.",
            "Stone grinds on stone; an ancient sarcophagus cracks open and a skeleton steps out.",
        ],
        EnterZombie: [
            "The air is heady with the vile stench of rot. The recently deceased are on the move. A zombie encroaches on Sir Hoardalot while he is busy respeccing his talent tree!",
        ],
        // Special rooms
        PlantRoom: [
            "This room is alive with a myriad of blossoming plants sprouting from all surfaces!",
        ]
    },
)