#![enable(implicit_some)]
( // DungeonBluerint
    levels: [ // Vec of FloorBlueprints
        ( // FloorBlueprint
            depth: 0,
            default_loot: ( // DropTable
                items: [
                    HerbGreen,
                    HerbRed,
                    HerbViolet,
                ],
                chances: [
                    10,
                    10,
                    10
                ]
            ),
            segments: [ // Room contents defined here
                (
                    types: {
                        Start : 100,
                    }
                ),
                (
                    types: {
                        Empty: 100,
                    },
                    custom_loot: (
                        items: [
                            HerbRed,
                            Vial,
                        ],
                        chances: [
                            100,
                            100,
                        ]
                    )
                ),
                (
                    types: {
                        Fight: 100,
                    },
                    enemies: {
                        Rat: 100,
                    }
                )
            ]
        )
    ]
)