(
    drop_in: (
        pos: ((0, 16)),
        dimens: ((32, 16)),
    ),
    equipment: (
        pos: ((0, 0)),
        dimens: ((32, 16)),
    ),
    crafting: (
        pos: ((34, 0)),
        dimens: ((5, 5)),
    ),
)
