(
    event_feed: (
        pos: ((2, 8)),
        dimens: ((14, 26)),
    ),
    record_player: (
        pos: ((2, 2)),
        dimens: ((14, 4)),
    ),

    inventory: (
        pos: ((18, 8)),
        dimens: ((28, 12)),
    ),
    drop_in: (
        pos: ((18, 20)),
        dimens: ((28, 14)),
    ),
    lower_bar: (
        pos: ((18, 2)),
        dimens: ((28, 4)),
    ),
    combine: (
        pos: ((48,2)),
        dimens: ((14, 4)),
    ),
    crafting: (
        pos: ((48, 8)),
        dimens: ((14, 8)),
    ),
    equipped: (
        coords: (
            pos: ((48, 18)),
            dimens: ((14, 16)),
        ),
        slots: {
            Helmet: (
                pos: ((3, 9)),
                dimens: ((2, 3)),
            ),
            Necklace: (
                pos: ((3, 7)),
                dimens: ((2, 1)),
            ),
            Armour: (
                pos: ((2, 1)),
                dimens: ((4, 5)),
            ),
            Weapon: (
                pos: ((0, 3)),
                dimens: ((2, 6)),
            ),
            Shield: (
                pos: ((5, 2)),
                dimens: ((3, 3)),
            ),
        },
    ),
)
