#![enable(implicit_some)]
(
    items: [
        (((1, 2)), (
            id: Vial,
            name: "Vial",
            description: "Any liquid may be stored inside.",
            texture_id: Vial,
        )),
        (((1, 1)), (
            id: HerbRed,
            name: "Red Herb",
            description: "Basic alchemical ingredient. Associated with vitality.",
            texture_id: HerbRed,
        )),
        (((1, 1)), (
            id: HerbGreen,
            name: "Green Herb",
            description: "Basic alchemical ingredient. Associated with dexterity.",
            texture_id: HerbGreen,
        )),
        (((1, 1)), (
            id: HerbViolet,
            name: "Violet Herb",
            description: "Basic alchemical ingredient. Associated with strength.",
            texture_id: HerbViolet,
        )),
        (((1, 2)), (
            id: EssenceVitality,
            texture_id: EssenceVitality,
            stat_bonuses: (
                health: 10,
                max_health: 0,
                damage_bonus: 0,
                proficiency: 0,
                damage_res: 0,
            ),
        )),
        (((1, 2)), (
            id: EssenceAlacrity,
            name: "Essence of Vitality",
            description: "Grants 1 point of combat proficiency for 30 seconds.",
            texture_id: EssenceAlacrity,
            temporary_effect: (
                time: 30.0,
                max_health_mod: 0,
                combat_prof_mod: 1,
                damage_mod: 0,
                damage_res_mod: 0,
                on_hero: true,
                applied: false,
                expired: false,
            ),
        )),
        (((1, 2)), (
            id: EssenceMight,
            name: "Essence of Vitality",
            description: "Grants 1 point of bonus damage for 30 seconds.",
            texture_id: EssenceMight,
            temporary_effect: (
                time: 30.0,
                max_health_mod: 0,
                combat_prof_mod: 0,
                damage_mod: 1,
                damage_res_mod: 0,
                on_hero: true,
                applied: false,
                expired: false,
            ),

        )),
        (((1, 2)), (
            id: FlaskStrength,
            name: "Flask of Strength",
            description: "Grants 3 points of bonus damage for 30 seconds.",
            texture_id: FlaskStrength,
            temporary_effect: (
                time: 30.0,
                max_health_mod: 0,
                combat_prof_mod: 1,
                damage_mod: 3,
                damage_res_mod: 0,
                on_hero: true,
                applied: false,
                expired: false,
            ),
        )),
        (((1, 2)), (
            id: FlaskSkill,
            name: "Flask of Skill",
            description: "Grants 3 point of combat proficiency for 30 seconds.",
            texture_id: FlaskSkill,
            temporary_effect: (
                time: 30.0,
                max_health_mod: 0,
                combat_prof_mod: 3,
                damage_mod: 0,
                damage_res_mod: 0,
                on_hero: true,
                applied: false,
                expired: false,
            ),
        )),
        (((1, 2)), (
            id: FlaskToughness,
            name: "Flask of Toughness",
            description: "Grants 3 points of damage resistance for 30 seconds.",
            texture_id: FlaskToughness,
            temporary_effect: (
                time: 30.0,
                max_health_mod: 0,
                combat_prof_mod: 0,
                damage_mod: 0,
                damage_res_mod: 3,
                on_hero: true,
                applied: false,
                expired: false,
            ),
        )),
        (((1, 2)), (
            id: FlaskHealing,
            name: "Flask of Healing",
            description: "Restores 20HP on use.",
            texture_id: FlaskHealing,
            stat_bonuses: (
                health: 20,
                max_health: 0,
                damage_bonus: 0,
                proficiency: 0,
                damage_res: 0,
            )
        )),
        (((1, 3)), (
            id: SwordRusty,
            name: "Rusty Sword",
            description: "Tends to be more dangerous to you than to the enemy. Tetanus is a thing, you know.",
            texture_id: SwordRusty,
            stat_bonuses: (
                health: 0,
                max_health: 0,
                damage_bonus: 1,
                proficiency: 0,
                damage_res: 0
            )
        )),
        (((1, 3)), (
            id: Sword,
            name: "Sword",
            description: "Standard equipment for professionals in the applied violence industry.",
            texture_id: Sword,
            stat_bonuses: (
                health: 0,
                max_health: 0,
                damage_bonus: 2,
                proficiency: 1,
                damage_res: 0
            )
        )),
    ]
)
