(
    // This filter sets everything to info, except for some crates that are further specified:
    // - wgpu is super spammy and restricted to error
    // - symphonia occasionally logs spam to info level so is restricted to warn
    // - Our own crate bag_goblin is set to debug, so is actually allowed to be more spammy than the default info level.
    filter: "info,wgpu=error,symphonia_core=warn,symphonia_format_ogg=warn,symphonia_codec_vorbis=warn,symphonia_bundle_mp3=warn,bag_goblin=debug",
)
