(
    recipes: [
        (
            result: HealthPotion,
            ingredients: [
                (
                    item_id: Vial,
                    quantity: 1
                ),
                (
                    item_id: TurtleHerb,
                    quantity: 1
                )
            ],
        ),
        (
            result: FilledLantern,
            ingredients: [
                (
                    item_id: EmptyLantern,
                    quantity: 1
                ),
                (
                    item_id: CandleStick,
                    quantity: 1
                )
            ],
        ),
        (
            result: LitLantern,
            ingredients: [
                (
                    item_id: FilledLantern,
                    quantity: 1
                ),
                (
                    item_id: FireEssence,
                    quantity: 1
                )
            ],
        ),
        (
            result: EssenceVitality,
            ingredients: [
                (
                    item_id: Vial,
                    quantity: 1
                ),
                (
                    item_id: HerbRed,
                    quantity: 1
                )
            ],
        ),
        (
            result: EssenceAlacrity,
            ingredients: [
                (
                    item_id: Vial,
                    quantity: 1
                ),
                (
                    item_id: HerbGreen,
                    quantity: 1
                )
            ],
        ),
        (
            result: EssenceMight,
            ingredients: [
                (
                    item_id: Vial,
                    quantity: 1
                ),
                (
                    item_id: HerbViolet,
                    quantity: 1
                )
            ],
        ),
    ],
    
)