(
    recipes: [
        (
            result: EssenceVitality,
            ingredients: [
                (
                    item_id: Vial,
                    quantity: 1
                ),
                (
                    item_id: HerbRed,
                    quantity: 1
                )
            ],
        ),
        (
            result: EssenceAlacrity,
            ingredients: [
                (
                    item_id: Vial,
                    quantity: 1
                ),
                (
                    item_id: HerbGreen,
                    quantity: 1
                )
            ],
        ),
        (
            result: EssenceMight,
            ingredients: [
                (
                    item_id: Vial,
                    quantity: 1
                ),
                (
                    item_id: HerbViolet,
                    quantity: 1
                )
            ],
        ),
        (
            result: Sword,
            ingredients: [
                (
                    item_id: SwordRusty,
                    quantity: 2
                ),
            ],
        ),
    ],
    
)